
  <h1>Welcome Our URL Shortner!</h1>
   <form  action= '/urls' method= "POST"> 
    <label>Type in a valid long URL!</label><br>
      <input type="text" name="long_url">
      <input type="submit" name="Shorten it!">
   </form>
   <% if @error_message %>
     <%= @error_message %>
   <% end %>

   <% if @new_url %>
     <a href="http://localhost:9393/<%=@new_url.short_url%>"><%="http://localhost:9393/#{@new_url.short_url}"%></a>
   <% end %>

   <h2> Most Recent Shortened URL's</h2>
      <% @short_urls.each do |url|%>
        <a href="http://localhost:9393/<%=url.short_url%>"><%=url.short_url%></a><br>
      <% end%>
