
  <h1>Welcome to URL Shortener!</h1>
   <form  action= '/urls' method= "POST"> 
    <label>Type in your URL to get started!</label><br><br>
      <input type="text" name="long_url">
      <input class='btn' type="submit" name="Shorten it!">
   </form>
   <br>
   <% if @error_message %>
     <%= @error_message %>
   <% end %>

   <% if @new_url %>
     Here is your new URL: <a href="http://localhost:9393/<%=@new_url.short_url%>"><%="http://localhost:9393/#{@new_url.short_url}"%></a>
   <% end %>
   <h2> Most Recent Shortened URL's</h2>
      <% @short_urls.each do |url|%>
        <a href="http://localhost:9393/<%=url.short_url%>"><%="http://localhost:9393/#{url.short_url}"%></a>
        <br>
        <br>
      <% end%>
